.card {
    border: 1px solid black;
    display: inline-block;
    margin: 1% auto;
    padding-left: 10px;
    cursor: pointer;
    max-width: 600px;
    width: 100%;
}

.card a {
    text-decoration: none;
    color: #000;
}

.card p {
    margin-bottom: 0.5%;
}

.card p:nth-child(2) {
    margin-left: 15px;
}

.card:hover {
    box-shadow: 3px 3px;
}

/* я использовал свойство position с атрибутом absolute чтобы закрепить футер внизу страницы */

footer {
    position: absolute;
    bottom: 5px;
}

