form {
    display: inline-block;
    margin-left: 25px;
}

.custom {
    margin-bottom: 10px;
    }

#submit_button {
    margin-top: 20px;
    float: right;
}

@media screen and (max-width: 450px){
    form {
        width: 100%;
        margin: 0;
    }

    .custom {
        width: -moz-available;
        width: -webkit-fill-available;
    }
}