@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Slab&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&subset=cyrillic');

h1 {
    font-size: 2em;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-size: 1.8em;
    margin: 1% 2% 0 3%;
}

h3 {
    font-size: 1.3em;
}

p {
    font-size: 1.1em;
    font-family: 'PT Serif', serif;
}

mark {
    padding: 0.3%;
}

img {
    max-width: 100%;
    min-width: 30%;
}


.picture_shadow {
    box-shadow: 7px 9px 10px #000;
}

section {
    margin: 0 6%;
}

code {
    color: red;
    float: left;
    border-right: 1.5px solid black;
    padding-right: 2%;
    margin-right: 2%;
}

.red {
    color: red;
    font-weight: 500;
    font-style: italic;
}

.blue {
    color: blue;
    font-weight: 500;
    white-space: nowrap;
}

.green {
    color:#1f7a1f;
}

.list_whiteSpace > li {
    margin-bottom: 5px;
    font-family: 'PT Serif', serif;
}

nav>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    padding: 0.8rem;
} 

nav>ul>li {
    float: left;
    margin-left: 0.1rem;
}

.current_location {
    text-decoration: none;
    color: grey;
}

nav>ul>li:hover {
    opacity: 0.6;
}

a {
    text-decoration: none;
}

/* figure img {
    display: block; 
    margin: 0 auto;
} */

/* div>#form_bs4 {
    margin:auto;
}

#form_bs4 {
    width: 400px;
    background-color: #ffffff;
    border: 8px solid #4fa2c6;
    border-radius: 10px;
}

#form_bs4>h2 {
    padding: 3%;
    background: linear-gradient(to bottom, #ffffff 0%, #f0f3f5 100%);
    border-bottom: 1px solid #cfcfcf;
    color: #555555;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

.form-group {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#formGroupExampleInput, #formGroupExampleInput2 {
    font-weight: 300;
}

.btn-primary {
    position: relative;
    left: 55px;
    border: 1px solid #b8c4cb;
    background: linear-gradient(to bottom, #ffffff 0%, #d4e7ef 100%);
    border-radius: 50px;
    padding: 5px 20px;
    font-weight: 400;
    font-size: 0.9em;
    color:#6e7781;
    margin-bottom: 1.4rem;
}

.form-check {
    position: relative;
    bottom: 8px;
    left: 26px;
    font-size: 0.8em;
    color: #777777;
}

.form-check-input {
    border-radius:  5px;
    border: 1px solid #cfcfcf;
} */
/* 
p:last-of-type {
    color: white;
    font-size: 0.7em;
    text-align: center;
    margin: 1.6em auto;
} */

/* #reset_link {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

img {
    margin-top: 50px;
}

@media (max-width: 576px) { 
header {
    margin-bottom: 5%;
}    
form div:last-of-type {
    display: none;
}
#form_bs4 {
    width: 90%;
}   
img {
    width: 100%;
}
.btn-primary {
    left: 0;
    margin: 8% auto;
    display: block;
}
 } */