h1 {
    font-family: 'Istok Web', sans-serif;
    text-align: center;
}

p {
    font-size: 1.2em;
}

code {
    color: red;
    float: left;
    border-right: 1.5px solid black;
    padding-right: 2%;
    margin-right: 2%;
}

.tags{
    padding: 0.5% 2% 0.5% 2%;
}

.red {
    color: red;
    font-weight: 500;
    font-style: italic;
}

.blue {
    color: blue;
    font-weight: 500;
}
/* снизу разметка для списка который используется для навигации */
nav>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    padding: 0.8rem;
}

nav>ul>li {
    float: left;
    margin-left: 0.1rem;
}

.current_location {
    text-decoration: none;
    color: grey;
}
/* стили для карточек в меню*/
.article_card{
    border: 1px solid black;
    display: inline-block;
    padding: 1%;
    margin: 0.2rem 2%;
}

.article_card h3 {
    padding: 0;
    display: inline;
    border-bottom: 1px solid black;
}

