h1 {
    font-family: 'Istok Web', sans-serif;
    text-align: center;
}

p {
    font-size: 1.1em;
}

.tags{
    padding: 0.5% 2% 0.5% 2%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    padding: 0.8rem;
}

li {
    float: left;
    margin-left: 0.1rem;
}