@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Slab&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&subset=cyrillic');

h1 {
    font-size: 2em;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-size: 1.8em;
    margin: 1% 2% 0 3%;
}

h3 {
    font-size: 1.3em;
}

p {
    font-size: 1.1em;
    font-family: 'PT Serif', serif;
}

mark {
    padding: 0.3%;
}

img {
    max-width: 100%;
    min-width: 30%;
}


.picture_shadow {
    box-shadow: 7px 9px 10px #000;
}

section {
    margin: 0 6%;
}

code {
    color: red;
    float: left;
    border-right: 1.5px solid black;
    padding-right: 2%;
    margin-right: 2%;
}

.red {
    color: red;
    font-weight: 500;
    font-style: italic;
}

.blue {
    color: blue;
    font-weight: 500;
    white-space: nowrap;
}

.green {
    color:#1f7a1f;
}

.list_whiteSpace > li {
    margin-bottom: 5px;
    font-family: 'PT Serif', serif;
}

nav>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    padding: 0.8rem;
} 

nav>ul>li {
    float: left;
    margin-left: 0.1rem;
}

.current_location {
    text-decoration: none;
    color: grey;
}

nav>ul>li:hover {
    opacity: 0.6;
}

a {
    text-decoration: none;
}